<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Map</title>
</head>
<body>
    <h1>Real-time Map</h1>
    <iframe src="{{ url_for('static', filename='mapa.html') }}" width="100%" height="490"></iframe>
    <script>
        setInterval(() => {
            const iframe = document.querySelector('iframe');
            iframe.src = iframe.src;
        }, 5000);
    </script>
</body>
</html>